name: On push to main

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-docs-koog-ai:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Configure Git
        run: |
          git config --global core.autocrlf input
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - name: Deploy docs
        run: |
          cd ./docs
          pip install mkdocs-material
          mkdocs gh-deploy